<div class="page-header">
  <div class="btn-group pull-right">
    <%= button_to("Overview", transcriptions_path, :icon => :list) %>
	</div>

  <h1>New Transcription</h1>
</div>

<%= render 'form' %>
