<div class="page-header">
  <div class="btn-group pull-right">
    <%= button_to("Overview", segments_path, icon: :list) %>
    <%= button_to("Edit", edit_segment_path(@segment), icon: :edit) %>
	</div>

  <h1>Showing Segment</h1>
</div>

<%= render 'form' %>
