<div class="editor">
  <% @segments.each do |segment| %>
    <%= content_tag(:div, id: dom_id(segment), class: 'segment hide',
                    action: transcriptions_path(format: :json),
                    data: { id: segment.id, start_time: segment.start_time, end_time: segment.end_time, next_segment_preview: segment.next_segment.try(:body)  }) do %>
      <div class="info">
        <%#= segment.body %>
      </div>

      <div class="line"><% segment.words.reject(&:tag?).each do |word| %><%= content_tag(:span, word, id: dom_id(word), class: 'word', data: { alternatives: word.suggestions.to_json, confidence: word.confidence, start_time: word.start_time, end_time: word.end_time }) %><% end %></div>

    <% end %>

  <% end %>
</div>

<div class="preview">
  &nbsp;
</div>
