<div class="navbar navbar-fixed-bottom console">
  <div class="navbar-ixnner">
    <div class="container-fluid">

      <div class="row-fluid">
         <div class="span1" style="width: 20px">
           <span id="status" class="label label-important">&nbsp;</span>
         </div>

         <div class="span11">
           <div class="logbox">
             <div id="log"></div>
           </div>
         </div>
       </div>

    </div>
  </div>
</div>
