*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html/.bundle

/db/data.yml
/db/*.sqlite3
/db/*.sqlite3-journal

/log/*.log
/tmp

/public/system
/speech_recognition/models/*
/speech_recognition/tools/fatpocketsphinx/fatpocketsphinx_continuous

*.DS_Store
*.rbc
*.sassc
.sass-cache
/coverage/
/spec/tmp/*
