<%= form_for(@reviewed_transcription, html: { class: 'form-horizontal' }) do |f| %>
  <% if @reviewed_transcription.errors.any? %>
    <div id="error_explanation" class="round">
      <ul>
      <% @reviewed_transcription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
