<div class="page-header">
  <div class="btn-group pull-right">
    <%= button_to("Overview", reviewed_transcriptions_path, :icon => :list) %>

    <%= dropdown_button("Actions") do %>
      <%= dropdown_link_to("Delete", @reviewed_transcription, data: { confirm: 'Are you sure?', method: :delete }, :icon => 'trash') %>
    <% end %>
	</div>

  <h1>Edit Reviewed Transcription</h1>
</div>

<%= render 'form' %>
