<div class="page-header">
  <div class="btn-group pull-right">
    <%= button_to("Overview", transcriptions_path, icon: :list) %>
    <%= button_to("Edit", edit_transcription_path(@transcription), icon: :edit) %>
	</div>

  <h1>Showing Transcription</h1>
</div>

<%= render 'form' %>
