<%= paginate @segments %>

<div id="audio_player">
  <audio controls="controls" preload="auto">
    <source src="<%= @recording.downsampled_wav_file %>" />
    <track kind="subtitles" src="<%= segments_recording_path(@recording, format: 'vtt') %>" default></track>
  </audio>
</div>

<div class="streaming">
  <i class="icon-spinner icon-spin icon-large"></i> Streaming Audio ...
</div>

<div class="transcriptions">
  <% @reviewed_transcriptions.each do |reviewed_transcription| %>
    <%= content_tag(:span, reviewed_transcription.text_body,
              id: dom_id(reviewed_transcription.segment),
              class: 'segment',
              data: { start_time: reviewed_transcription.segment.start_time, end_time: reviewed_transcription.segment.end_time }) %>
  <% end %>
</div>
