<div class="message">

  <div class="btn-group">
    <span class="btn avatar">
      <img src="http://www.gravatar.com/avatar/<%= userhash %>?s=15&d=monsterid" />
    </span>

    <span class="btn">
      <%= message %>
    </span>
  </div>
</div>
