<div class="page-header">
  <h1>
    <%= icon('comments-alt') %> Live Transcriber
    <small>- A free and open semi-automated transcriber</small>
  </h1>

</div>

<!-- TODO: Consider to move this whole page on GitHub wiki -->

<h2>Why Open-Source Speech Recognition?</h2>

<p class="well">
  <!-- TODO: Write text why open-source speech recognition is better -->
</p>


<h2>How does Speech Recognition work?</h2>

<p class="well">
  <!-- TODO: Write text about acoustic and language models, etc ... -->
</p>

<h2>How do my transcriptions help Open-Source speech recognition?</h2>

<p class="well">
  <!-- TODO: Write text about how contributions help model training -->
</p>

<h2>What technology are you using?</h2>

<p class="well">
  <!-- TODO: Write text about technology used (sphinx, rails, html5, ...) -->
</p>

<h2>How can I contribute?</h2>

<p class="well">
  <!-- TODO: Write text about contributions -->
</p>

<h2>What are the goals of this project?</h2>

<p class="well">
  <!-- TODO: Write text about future goals, e.g. more languages, etc .. -->
</p>
