#transcriber .streaming { margin-top: 20px; font-size: 18px; color: darkgray; }

#transcriber .preview { font-family:proxima-nova; font-size: 16px; color: darkgray; padding: 10px; }

#transcriber .actions { margin-top: 10px; }

#transcriber .unsure { border-bottom: 2px dotted red; }

#transcriber .editor { font-family:proxima-nova;font-style:normal;font-weight:100; }
#transcriber .line   { line-height: 30px!important; font-size: 35px; padding: 10px; }

#transcriber .segment .info { border-top: 2px dotted lightgray; margin-top: 20px; color: lightgray; }

#transcriber .segment.active { background-color: lightyellow; }
#transcriber .segment.saved  { background-color: lightblue!important; }

#transcriber [contenteditable="true"].inEditMode {
  outline-style: dotted;
  outline-width: 1px;
  outline-color: #111111;
}
