input, textarea { width: 550px; }

table.table .edit   { padding:0 5px;width:50px}
table.table .title  { width: 200px; font-weight: bold; }
table.table .icon   { padding:0; width: 16px;}
table.table .flag   { width: 24px;}
table.table .narrow { width: 30px;}

.nowrap { white-space: nowrap; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
